.sideBySide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin: 0 1rem;
}

.links svg {
  margin: 0 1rem;
}
