* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: large;
}

body {
  font-family: "Labrada", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

@keyframes color-change {
  0% {
    color: black;
  }
  5% {
    color: purple;
  }
  10% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  95% {
    color: purple;
  }
  100% {
    color: black;
  }
}

hr {
  border: 1px solid rgb(var(--card-border-rgb));
  width: 10%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 767px) {
  html {
    font-size: medium;
  }
}
