.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.avatar {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 100px;
  object-fit: cover;
  object-position: top;
  clip-path: circle(50% at 50% 50%);
}

.section {
  width: 70%;
  /* background-color: aqua; */
}

.sideBySide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.sectionHeader {
  justify-content: space-around;
  /* background-color: aqua; */
}

/* TODO: make lines cut through the back of the header */
/* .sectionHeader::before {
  content: "";
  border-left: solid 3px black;
  position: absolute;
  transform: rotate(45deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */


.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
}

.links img {
  margin: auto 0.5rem;
}

.resume {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.resume:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px #fff;
}

.persoanlLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}

/* .footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
.copyright {
  margin-bottom: 0;
}
.contact {
  margin-bottom: 0;
}
.links {
  margin-bottom: 0;
}
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
} */


@media (prefers-color-scheme: dark) {
  .resume {
    color: #000;
    background-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  .resume {
    color: #fff;
    background-color: #000;
  }
}


@media (max-width: 767px) {
  .main {
    padding: 1rem;
  }

  .section h1 {
    font-size: 2rem;
  }

  .section h3,
  .section p {
    font-size: 1em;
  }

  .avatar {
    width: 300px;
    height: 200px;
  }

  .sideBySide {
    flex-direction: column;
  }

  .persoanlLinks {
    flex-direction: column;
  }

  .resume {
    margin: 1rem;
  }
}
